<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de transacciones</title>
</head>
<body>

    <form class="login" id ="form-login" method="post" acction="">
        {% csrf_token %}

        <input type="text" placeholder="Username">
            {{ form.Username}}
        <input type="password" placeholder="Password">
            {{ form.password}}
        <button>Login</button>
      </form>
</body>
</html>